@tailwind base;
@tailwind components;
@tailwind utilities;

/* resources/css/app.css */
.sidebar {
    background-color: #dfe1eb;
    padding: 20px;
    /*height: 100vh; *//* Full height sidebar */
}

.sidebar .nav-link {
    color: #333;
    padding: 10px;
    text-decoration: none;
}

.sidebar .nav-link.active {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}
